body{
    background-color: rgb(251, 234, 213);
}

.header-div{
    display: flex;
    font-size: 60px;
    /* margin: auto; */
    /* border:1px solid blue; */
    margin-bottom:30px;
    margin-top:50px;
}

.header-p{
    /* margin-left:px; */
    font-size: 78px;
    margin: auto;
    font-family: 'Smooch', cursive;
}



img{
    width: 32px;
    margin-left: 85px;
    margin-right: 15px;
}

a{
    text-decoration: none;
}

.sub-div-inner{
}
.sub-divs{
    display: flex;
    align-items: center;
    font-size: 23px;
    height: 55px;
    width: 300px;
    background-color: pink;
    border-radius:30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.main-div{
    width: max-content;
    display: flex;
    height: 220px;
    justify-content: space-around;
    flex-direction: column;
    margin:auto;
    /* margin-top: 200px; */
}

#github{
    background-color: #fcfcfc;
    color:rgb(0, 0, 0);
}
#linkedin{
    background-color: #027DBC;
    color:white;
}
#medium{
    background-color:black;
    color:white;
}